---
import Layout from "../layouts/Layout.astro";
import { auth } from "../lib/lucia";
import { SqliteError } from "better-sqlite3";

let session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login");

let errorMessage = "";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const newPassword = formData.get("password") as string;
  const passwordConfirm = formData.get("password-confirm") as string;
  const newRoom = parseInt(formData.get("room-nr") as string);
  if (newRoom && newRoom !== session.user.roomNr) {
    const user = await auth.updateUserAttributes(session.user.userId, {
      room_nr: newRoom, // new privileges
    });
    await auth.invalidateAllUserSessions(user.userId); // invalidate all user sessions => logout all sessions
    session = await auth.createSession({
      userId: user.userId,
      attributes: {},
    });
  }
  if (!newPassword) return;
  if (newPassword !== passwordConfirm) {
    errorMessage = "Passwords do not match!";
    return;
  }
  try {
    const user = await auth.updateUserAttributes(
      session?.user.userId,
      {
        email: newEmail,
      }, // expects partial `Lucia.DatabaseUserAttributes`
    );
  } catch (e) {
    if (e instanceof SqliteError && e.message === `AUTH_INVALID_USER_ID`) {
      errorMessage = "Email is already taken!";
      return;
    }
    errorMessage = "Unknown Error!";
  }
}
---

<Layout title="Profile">
  <h1 class="text-center text-white text-3xl lg:text-7xl">Profile</h1>
  <form
    method="post"
    class="w-fit flex flex-col items-center gap-4 mx-auto my-2"
  >
    <div class="form-control w-full max-w-xs">
      <label for="room-nr" class="label">
        <span class="label-text">Room Number</span>
      </label>
      <input
        name="room-nr"
        id="room-nr"
        class="input input-primary"
        value={session?.user.roomNr}
      />
    </div>

    <div class="form-control w-full max-w-xs">
      <label for="password" class="label">
        <span class="label-text">Password</span>
      </label>
      <input
        type="password"
        name="password"
        id="password"
        class="input input-primary"
      />
    </div>

    <div class="form-control w-full max-w-xs">
      <label for="password-confirm" class="label">
        <span class="label-text">Confirm Password</span>
      </label>
      <input
        type="password"
        name="password-confirm"
        id="password-confirm"
        class="input input-primary"
      />
    </div>

    <input type="submit" class="btn btn-primary" value="Update Profile" />
  </form>
</Layout>
