---
import "@fontsource/pangolin";
import "@fontsource/material-symbols-rounded";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
const session = await Astro.locals.auth.validate();
---

<!doctype html>
<html lang="en" transition:animate="slide">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Laundry equipment booking for Pfeilgasse 1a"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-display">
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path></svg
            >
          </div>
          <ul
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a class="text-xl" href="/profile">Profile</a></li>
            <li><a class="text-xl" href="/book">Book</a></li>
            <li><a class="text-xl" href="/bookings">Your Bookings</a></li>
            {
              session?.user.admin === 1 ? (
                <li>
                  <a href="/admin">Admin Panel</a>
                </li>
              ) : null
            }
            {
              !session ? (
                <>
                  <li>
                    <a class="text-xl" href="/login">
                      Log In
                    </a>
                  </li>
                </>
              ) : (
                <li>
                  <a class="text-error text-xl" href="/logout">
                    Log Out
                  </a>
                </li>
              )
            }
          </ul>
        </div>
        <a class="btn btn-ghost text-xl" href="/">1A Laundry Bookings</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/book">Book</a></li>
          <li><a href="/bookings">Your Bookings</a></li>
          {
            session?.user.admin === 1 ? (
              <li>
                <a href="/admin">Admin Panel</a>
              </li>
            ) : null
          }
        </ul>
      </div>
      <div class="navbar-end hidden lg:flex gap-2">
        {
          !session ? (
            <>
              <a class="btn btn-primary" href="/login">
                Log In
              </a>
            </>
          ) : (
            <>
              <li>{session.user.username}</li>
              <a class="btn btn-primary" href="/logout">
                Log Out
              </a>
            </>
          )
        }
      </div>
    </div>
    <slot />
  </body>
</html>
